:root {
  --color-gold: #ac9b56;
  --color-offwhite: #fffafa;
  --color-charcoal: #0c0c0c;
  --color-gray: #b8b8b8;
}

body {
  position: relative;
  background-color: var(--color-charcoal);
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 3rem 3.5rem 3rem;
}

h1,
a,
p {
  font-family: "radio canada", sans-serif;
}

/*******/
/* Nav */
.nav_container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    rgba(12, 12, 12, 1),
    rgba(12, 12, 12, 0.96),
    rgba(12, 12, 12, 0.89)
  );
  box-shadow: 0rem 0.4rem 2.8rem 0.4rem rgba(12, 12, 12, 1);
  z-index: 2;
  transition: ease-in 0.3s;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1.3rem;
  padding-right: 4.3rem;
  padding: 1.3rem 3.8rem 0.8rem 3.8rem;
}

.page_link_container > ul {
  padding: 0rem;
  display: flex;
  list-style-type: none;
}

.page_link > a {
  font-size: 1.1rem;
  color: var(--color-gold);
  text-decoration: none;

  padding: 0rem 2rem 0rem 0rem;
}

.page_link > a:hover {
  color: var(--color-offwhite);
}

.page_link.active > a {
  color: var(--color-offwhite);
  list-style-type: none;
}

.personal_logo {
  width: 3.5rem;
}

.icon_container > ul {
  display: flex;
  list-style-type: none;
  margin-left: 4.2rem;
}

.icon_link > a {
  font-size: 1.2rem;
  color: var(--color-offwhite);
  text-decoration: none;

  padding: 0rem 0rem 0rem 2.5rem;
}

.icon_link > a:hover {
  color: var(--color-gold);
}

.hamburger_menu_container {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.hamburger_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2.25rem 3.9rem 0rem 0rem;
}

.hamburger_menu > i {
  color: var(--color-offwhite);
  font-size: 1.8rem;
}

.menu {
  color: var(--color-offwhite);
  list-style-type: none;
  text-align: right;
}

.menu_item {
  margin-top: 0.6rem;
}

.menu_item.icons {
  margin-top: 1.7rem;
}

.menu_item.icons > a {
  text-decoration: none;
}

.menu_icon {
  color: var(--color-offwhite);
  margin-left: 1.2rem;
}

.hidden_menu {
  display: none;
}

@media screen and (max-width: 1000px) {
  .nav {
    position: relative;
    width: 100%;
    padding: 1.3rem 0rem 0.8rem 0rem;
    justify-content: center;
  }
}

/**********/
/* Header */
.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7.3rem 0rem 2rem 0rem;
}

.header > h1 {
  color: var(--color-gold);
  font-size: 2.6rem;
  margin: 1rem 0rem 0rem 0rem;
}

.header > p {
  color: var(--color-gray);
  font-size: 0.9rem;
  font-weight: lighter;
  margin: 0.2rem 0rem 0rem 0rem;
}

/******************/
/* Project Covers */
.project_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5rem 0rem 0.2rem 0rem;
  z-index: 1;
}

.project_cover {
  width: 32.98%;
  height: 32.6%;
  position: relative;
  transition: ease-in 0.3s;
}

.project_cover > img {
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  margin: 0rem 0rem 0.2rem 0rem;
}

.text_cover_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(12, 12, 12, 0.95);
}

.text_cover_overlay > h1 {
  color: var(--color-gold);
  font-size: 2.8vw;
  margin: 0rem;
}

.text_cover_overlay > p {
  color: var(--color-gray);
  font-size: 1.6vw;
  font-weight: lighter;
  margin-top: 0.5rem;
}

.hidden {
  display: none;
}

@media screen and (max-width: 800px) {
  .project_container {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 3.4rem;
  }

  .project_cover {
    width: 100%;
    height: 10%;
    margin-bottom: 0.4rem;
  }

  .text_cover_overlay > h1 {
    font-size: 8vw;
  }

  .text_cover_overlay > p {
    font-size: 4.3vw;
  }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
  .project_container {
    justify-content: space-between;
  }

  .project_cover {
    width: 49.7%;
    height: 19.8%;
    margin-bottom: 0.39rem;
  }
}

/**********/
/* Footer */
.footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

/* .contact_info_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 1.1rem 0rem;
}

.contact_info_container > i {
  color: var(--color-gold);
}

.contact_info {
  color: var(--color-offwhite);
  margin: 0rem 0rem 0rem 0.7rem;
} */

.copyright {
  color: var(--color-gray);
  font-size: 0.65rem;
}
