:root {
  --color-gold: #b8a661;
  --color-offwhite: #fffafa;
  --color-navy: #00072d;
  --color-gray: #b8b8b8;
  --color-darkgray: #515151;
}

body {
  /* position: relative; */
  background-color: var(--color-navy);
  display: flex;
  flex-wrap: wrap;
  padding: 0vw 3.2vw 3.5vw 3.3vw;
}

h1,
h2,
a,
p,
li,
button {
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 500px) {
  body {
    padding: 0rem 1.3rem 3.5rem 1.3rem;
  }
}

/*******/
/* Nav */
.nav_container {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 4, 23, 93),
    rgba(0, 6, 34, 0.94),
    rgba(0, 7, 45, 0.81)
  );
  /* filter: blur(1.5rem); */
  box-shadow: 0rem 0.4rem 2.8rem 0.4rem rgba(0, 7, 45, 1);
  z-index: 2;
  padding-bottom: 0.1rem;
}

.nav {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 1.3rem 3.7rem 0.8rem 3.7rem;
}

.page_link_container > ul {
  padding: 0rem;
  display: flex;
  list-style-type: none;
  margin-right: 0rem;
}

.page_link > a {
  font-size: 1.1rem;
  color: var(--color-gold);
  text-decoration: none;

  padding: 0rem 2rem 0rem 0rem;
}

.page_link > a:hover {
  color: var(--color-offwhite);
}

.page_link.active > a {
  color: var(--color-offwhite);
  list-style-type: none;
}

.personal_logo_container {
  width: 3.6rem;
  height: 3.6rem;
  justify-self: center;
}

.personal_logo {
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  height: auto;
}

.icon_container {
  display: flex;
  justify-content: flex-end;
}

.icon_container > ul {
  display: flex;
  list-style-type: none;
  padding-left: 0rem;
}

.icon_link > a {
  font-size: 1.2rem;
  color: var(--color-offwhite);
  text-decoration: none;

  padding: 0rem 0rem 0rem 2.5rem;
}

.icon_link > a:hover {
  color: var(--color-gold);
}

.hamburger_menu_container {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
}

.hamburger_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2.25rem 2.3rem 0rem 0rem;
}

.hamburger_menu > i {
  color: var(--color-offwhite);
  font-size: 1.8rem;
}

.menu {
  list-style-type: none;
  text-align: right;
}

.menu_item {
  margin-top: 0.6rem;
}

.menu_item > a {
  color: var(--color-gold);
  text-decoration: none;
}

.menu_item > a:hover {
  color: var(--color-offwhite);
}

.menu_item.active > a {
  color: var(--color-offwhite);
  margin-top: 0.6rem;
}

.menu_item.icons {
  margin-top: 1.7rem;
}

.menu_item.icons > a {
  text-decoration: none;
}

.menu_icon {
  color: var(--color-offwhite);
  margin-left: 1.2rem;
}

.menu_icon:hover {
  color: var(--color-gold);
}

@media screen and (max-width: 500px) {
  .menu {
    margin-top: 2.3rem;
    z-index: 4;
  }

  .menu_item {
    margin-top: 1rem;
  }

  .menu_item > a {
    font-size: 6.8vw;
  }

  .menu_item.icons {
    margin-top: 2rem;
  }

  .menu_icon {
    font-size: 5.8vw;
    margin-left: 1.6rem;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1.3rem 0rem 0.8rem 0rem;
    justify-content: center;
  }

  .personal_logo_container {
    grid-column: 2;
  }
}

/**********/
/* Header */
.header_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 7.3rem 0rem 2rem 0rem;
}

.header {
  color: var(--color-gold);
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  margin: 3.3rem 0rem 0rem 0rem;
}

.body_text {
  color: var(--color-gray);
  font-size: 0.95rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
  margin: 0.3rem 0rem 2.3rem 0rem;
}

@media screen and (max-width: 500px) {
  .header_container > h1 {
    font-size: 2rem;
  }

  .header_container > p {
    font-size: 1rem;
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  .header_container > h1 {
    font-size: 1.7rem;
  }

  .header_container > p {
    font-size: 0.8rem;
  }
}

/******************/
/* Project Covers */
.project_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5rem 0rem 0.2rem 0rem;
  z-index: 1;
}

.project_cover {
  width: 33.2%;
  height: auto;
  position: relative;
}

.project_cover > img {
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
}

.text_cover_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 7, 45, 0.9);
}

.text_cover_overlay > h1 {
  color: var(--color-gold);
  font-size: 2.8vw;
  margin: 0rem;
}

.text_cover_overlay > p {
  color: var(--color-gray);
  font-size: 1.6vw;
  font-weight: 300;
  margin-top: 0.3rem;
}

.hidden {
  display: none;
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
  .project_container {
    justify-content: space-between;
  }

  .project_cover {
    width: 49.837%;
    height: auto;
  }

  .text_cover_overlay > h1 {
    font-size: 4.3vw;
  }

  .text_cover_overlay > p {
    font-size: 2.63vw;
  }
}

@media screen and (max-width: 800px) {
  .project_container {
    width: 100%;
    height: auto;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3.4rem;
  }

  .project_cover {
    width: 100%;
    height: auto;
  }

  .text_cover_overlay > h1 {
    font-size: 6.5vw;
  }

  .text_cover_overlay > p {
    font-size: 4vw;
  }
}

/*****************/
/* Project Pages */

.subhead {
  color: var(--color-offwhite);
  font-size: 1.35rem;
  font-weight: lighter;
  margin: 0.45rem 0rem 0rem 0rem;
}

.header_container.project {
  width: 100%;
}

.text_container.project {
  width: 100%;
  margin: 0.4rem 0rem 0rem 0rem;
}

.text_container.project > p {
  width: 35%;
  margin-bottom: 0.4rem;
}

.text_container.project > ul {
  padding-left: 1rem;
  list-style-position: outside;
}

.body_list > li {
  margin-bottom: 0.45rem;
  color: var(--color-gray);
  font-weight: 300;
}

.work_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.video_container {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video {
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
}

.visit_site_btn {
  background-color: var(--color-offwhite);
  color: var(--color-navy);
  font-size: 1.3rem;
  font-weight: 600;
  border-style: none;
  border-radius: 3rem;
  padding: 0.6rem 1.1rem 0.48rem 1.1rem;
  margin-top: 2rem;
}

.visit_site_btn:hover {
  background-color: var(--color-darkgray);
  color: var(--color-offwhite);
}

.visit_site_btn.brm {
  margin-bottom: 2.34rem;
}

.item_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.item_container.first {
  margin-top: 0rem;
}

.title {
  color: var(--color-offwhite);
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.title.brm {
  margin-bottom: 0rem;
}

.github_btn {
  background-color: var(--color-darkgray);
  color: var(--color-offwhite);
  font-size: 2rem;
  border-style: none;
  border-radius: 3rem;
  padding: 0.35rem 0.55rem 0.3rem 0.55rem;
}

.github_btn:hover {
  background-color: #917f38;
}

.item_container.flowchart > h2 {
  margin-bottom: 0.7rem;
}

.item_container.flowchart > p {
  margin-bottom: 1.68rem;
}

.img_container {
  width: 66%;
  height: auto;
}

.img_container.it {
  width: 58%;
  height: auto;
}

.img_container.sushi {
  width: 42%;
  height: auto;
}

.img_container.gradient {
  width: 55%;
  height: auto;
}

.img_container_small {
  width: 61%;
  height: auto;
  margin-top: 0.4rem;
}

.img_container_small.sushi {
  width: 42%;
  height: auto;
}

.image {
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
}

@media screen and (max-width: 1100px) {
  .text_container.project > p {
    width: 45%;
  }

  .img_container {
    width: 55%;
  }

  .img_container_small {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .text_container.project > p {
    width: 65%;
  }

  .item_container > h2 {
    align-self: center;
  }

  .video_container,
  .img_container,
  .img_container_small {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .text_container.project > p {
    width: 100%;
  }

  .work_container {
    margin-top: 1rem;
  }

  .item_container {
    text-align: center;
    margin-top: 3.5rem;
  }

  .img_container.sushi {
    width: 100%;
    height: auto;
  }

  .img_container.it {
    width: 100%;
    height: auto;
  }

  .img_container.gradient {
    width: 100%;
    height: auto;
  }

  .img_container_small {
    margin-top: 0.3rem;
  }

  .img_container_small.sushi {
    width: 100%;
    height: auto;
  }
}

/*********/
/* About */
.header_container.about {
  width: 100%;
  height: 0.01%;
  display: flex;
  align-items: center;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

.bio_container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
  margin-bottom: 0rem;
}

.headshot_container {
  width: 19.5rem;
  height: auto;
}

.headshot {
  aspect-ratio: attr(width) / attr(height);
  width: 100%;
  height: auto;
  border-radius: 0.7rem;
}

.text_container {
  width: 30rem;
  height: auto;
  margin-left: 2.3rem;
}

.text_container > p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

.footer.about {
  align-self: flex-end;
  margin-top: 19.3rem;
}

@media screen and (max-width: 1000px) {
  .bio_container {
    align-items: center;
    flex-direction: column;
  }

  .text_container {
    margin-left: 0rem;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 580px) {
  .headshot_container {
    align-self: center;
    width: 83%;
    height: auto;
  }

  .bio_container {
    width: 100%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .text_container {
    width: 100%;
    height: auto;
  }

  .footer.about {
    margin-top: 10rem;
  }
}

/**********/
/* Footer */
.footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3.8rem;
}

.copyright {
  color: var(--color-gray);
  font-size: 0.65rem;
}
